= render "shared/new-sheet-header"
.container#sheet-new
  %br/
  %br/
  .row_container
    .row
    .row
      .col.s12.m10.offset-m1.drag-and-drop.top-1.drag-off
        .card.green.lighten-5
          .card-content.black-text
            .card-text
              見出し
              %a.card-button.btn-flat.show_circle_btn.mouse_on_cursor_move
                %i.material-icons.small.card-icon-vert menu
    .row
      .col.s11.offset-s1.m9.offset-m2.drag-and-drop.top-2.drag-off
        .card.lime.lighten-5
          .card-content.black-text
            .card-text
              チェック項目１
              %a.card-button.btn-flat.show_circle_btn.mouse_on_cursor_move
                %i.material-icons.small.card-icon-vert menu
    .row
      .col.s11.offset-s1.m9.offset-m2.drag-and-drop.top-3.drag-off
        .card.lime.lighten-5
          .card-content.black-text
            .card-text
              チェック項目２
              %a.card-button.btn-flat.show_circle_btn.mouse_on_cursor_move
                %i.material-icons.small.card-icon-vert menu
    .row
      .col.s12.m10.offset-m1.drag-and-drop.top-4.drag-off
        .card.green.lighten-5
          .card-content.black-text
            .card-text
              見出し２
              %a.card-button.btn-flat.show_circle_btn.mouse_on_cursor_move
                %i.material-icons.small.card-icon-vert menu
    .row
      .col.s11.offset-s1.m9.offset-m2.drag-and-drop.top-5.drag-off
        .card.lime.lighten-5
          .card-content.black-text
            .card-text
              チェック項目３
              %a.card-button.btn-flat.show_circle_btn.mouse_on_cursor_move
                %i.material-icons.small.card-icon-vert menu
    .row
      .col.s11.offset-s1.m9.offset-m2.drag-and-drop.top-6.drag-off
        .card.lime.lighten-5
          .card-content.black-text
            .card-text
              チェック項目４
              %a.card-button.btn-flat.show_circle_btn.mouse_on_cursor_move
                %i.material-icons.small.card-icon-vert menu
  .row.button_field
    = link_to "#", class: "dropdown-trigger btn-floating row_add_button red","data-target": "dropdown1" do
      %i.material-icons.small.icon-vert-center.center add
    %ul#dropdown1.dropdown-content
      %li
        = link_to "",id: "make_head" do
          %i.material-icons ballot
          見出しを追加
      %li
        = link_to "", id: "make_check" do
          %i.material-icons check_box
          チェック項目を追加
  %br/
  %br/
.click_for_dropdown




