a {
  text-decoration: none;
  color: #000000;
}
.sns_link{
  text-decoration: none;
  color: #FFFFFF;
}
.f-container{
  display: flex;
}

.wrapper{
  min-height: 100vh;
}

.blur{
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.shadow-text{
  text-shadow:2px 2px 5px #000000;
}

.profile-head{
  font-size: 15px;
  line-height: 35px;
}

.profile-item{
  font-size: 20px;
}

.click_none{
  pointer-events: none;
}
.outer{
  text-align: center;
}
.image_center{
  display: inline-block;
  text-align: left;
}