.drag-and-drop {
	position: absolute;
	z-index: 2;
}
.mouse_on_cursor_move{
	  cursor: move;
}
.drag-on {
  z-index: 1001;
}
.back-btn{
	&--right{
		right: 15px;
	}
	&--left{
		right: 60px;
	}
	z-index: 0;
	top: 7px;
	position: absolute;
}
.top{
  &-1{
    top: 60px;
  }
  &-2{
    top: 120px;
	}
	&-3{
		top: 180px;
	}
  &-4{
    top: 240px;
  }
  &-5{
    top: 300px;
	}
	&-6{
		top: 360px;
	}
}