.drag-and-drop {
  position: absolute;
}
.mouse_on_cursor_move{
	  cursor: move;
}
.drag-on {
  z-index: 1001;
}
.top{
  &-1{
    top: 60px;
  }
  &-2{
    top: 120px;
	}
	&-3{
		top: 180px;
	}
  &-4{
    top: 240px;
  }
  &-5{
    top: 300px;
	}
	&-6{
		top: 360px;
	}
}